@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
    width: 2px;               /* width of the entire scrollbar */
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: transparent;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 2px solid #00000030;  /* creates padding around scroll thumb */
  }